<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-4">
      <h1 class="my-4">Panel de Control</h1>
      <h5 class="my-4">Consultas para Administradores</h5>
      <div class="list-group">

        <a href="#" ng-click="agregarProducto()" class="list-group-item">Agregar Evento</a>
        <a href="#" ng-click="modificarProductoCatalogo()" class="list-group-item">Modificar Eventos</a>

      </div>



    </div>
    <div class="col-lg-8">
      <br />
      <div class="row" ui-view="consultas"></div>
    </div>
  </div>
  <br />
  <br />
</div>
