<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-4">
      <h1 class="my-4">Panel de Control</h1>
      <h5 class="my-4">Consultas para Administradores</h5>
      <div class="list-group">

        <a href="#" ng-click="agregarProducto()" class="list-group-item">Agregar producto libro</a>
        <a href="#" ng-click="agregarProductoDvd()" class="list-group-item">Agregar producto dvd</a>
        <a href="#" ng-click="agregarProductoElectrodomestico()" class="list-group-item">Agregar producto electrodomestico</a>
        <a href="#" ng-click="modificarProductoCatalogo()" class="list-group-item">Modificar productos</a>
        <a href="#" ng-click="promedioProductosClientes()" class="list-group-item">Promedio de productos para cada cliente</a>
        <a href="#" ng-click="rangoProductosCompradosPorCliente()" class="list-group-item">Rango de productos comprados por cliente</a>
        <a href="#" ng-click="topProductos()" class="list-group-item">Top 3 productos</a>

      </div>



    </div>
    <div class="col-lg-8">
      <br />
      <div class="row" ui-view="consultas"></div>
    </div>
  </div>
  <br />
  <br />
</div>
