<br />
<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Historial</h1>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9" ng-init="getHistorial()">

      <div class="row">

        <div class="col-md-12" ng-repeat="compra in libros">

          <h3>Fecha: {{compra.fecha}}</h3>
          <h3>Monto: {{compra.monto}}</h3>
          <h3>Eventos:</h3>
          <div ng-repeat="evento in compra.eventos">


            <h4 class="card-title">
                 <a href="#">
                   <span ng-if="evento.tipo_evento == 0">Concierto: </span>
                  <span ng-if="evento.tipo_evento == 1">Teatro: </span>
                  <span ng-if="evento.tipo_evento == 2">Pelicula: </span>
                   {{evento.nombre}}</a>
               </h4>
            <h6>Fechas: </h6>
            <h6 ng-repeat="fecha in evento.fechas">{{fecha}}</h6>
            <h6>Lugar: {{evento.lugar}}</h6>
            <h6>Hora: {{evento.hora}}</h6>
            <h6 ng-if="evento.tipo_evento != 2">Artista: {{evento.artista}}</h6>
            <h6>Precio: {{evento.precio}}</h6>

            <h6 ng-if="evento.tipo_evento == 2">Cadena: {{evento.cadena}}</h6>
            <h6 ng-if="evento.tipo_evento == 2">Edad Minima:  {{evento.edadMinima}}</h6>

            <h6>Cantidad:  {{evento.cantidad}}</h6>



          </div>
        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
