<h1>Agregar producto libro al catalogo</h1>

<form ng-model="articulo">
  Nombre: <input ng-model="articulo.nombre" type="text" name="fname"><br>
  Descripcion: <input ng-model="articulo.descripcion" type="text" name="lname"><br>
  Precio: <input ng-model="articulo.precio" type="text" name="lname"><br>
  Autor: <input ng-model="articulo.autor" type="text" name="lname"><br>
  Año de publicacion: <input ng-model="articulo.fecha_publicacion" type="text" name="lname"><br>
  Editorial: <input ng-model="articulo.editorial" type="text" name="lname"><br>
  Número de páginas: <input ng-model="articulo.numero_paginas" type="text" name="lname"><br>

  <select ng-model="articulo.tipo">
    <option value="libro">Libro</option>
    <option value="electrodomestico">Electrodomestico</option>
    <option value="dvd">DVD</option>

  </select>

  <button class="btn btn-success" ng-click="agregarArticulo(articulo)">Agregar</button>
</form>
