<h1>Agregar evento</h1>
<br />


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <form ng-model="articulo">
        Nombre: <input ng-model="articulo.nombre" type="text" name="fname"><br>
        Lugar: <input ng-model="articulo.lugar" type="text" name="lname"><br>
        Fechas (Separar por ,): <input ng-model="articulo.fechas" type="text" name="lname"><br>
        Hora: <input ng-model="articulo.hora" type="text" name="lname"><br>
        Artista: <input ng-model="articulo.artista" type="text" name="lname"><br>
        Precio: <input ng-model="articulo.precio" type="text" name="lname"><br>

        Cadena: <input ng-model="articulo.cadena" type="text" name="lname"><br>
        Edad Minima: <input ng-model="articulo.edadMinima" type="text" name="lname"><br>

        <select ng-model="articulo.tipo_evento">
          <option value="0">Concierto</option>
          <option value="1">Teatro</option>
          <option value="2">Pelicula</option>

        </select>

        <button class="btn btn-success" ng-click="agregarArticulo(articulo)">Agregar</button>
      </form>


    </div>
  </div>
</div>
