<h1>Agregar producto electrodomestico</h1>


<form ng-model="articulo">
  Nombre: <input ng-model="articulo.nombre" type="text" name="fname"><br>
  Descripcion: <input ng-model="articulo.descripcion" type="text" name="lname"><br>
  Precio: <input ng-model="articulo.precio" type="text" name="lname"><br>
  Color: <input ng-model="articulo.color" type="text" name="lname"><br>
  Voltage: <input ng-model="articulo.voltage" type="text" name="lname"><br>
  Marca: <input ng-model="articulo.marca" type="text" name="lname"><br>

  <select ng-model="articulo.tipo">
    <option value="libro">Libro</option>
    <option value="electrodomestico">Electrodomestico</option>
    <option value="dvd">DVD</option>

  </select>

  <button class="btn btn-success" ng-click="agregarArticulo(articulo)">Agregar</button>
</form>
