<h1>Rango de productos para cada cliente</h1>


<div ng-init="traerUsuarios()">

  <div class="row">
    <div class="col-md-12" ng-repeat="cliente in clientes">
      <h4>Nombre: {{cliente.nombre}}</h4>
      <button class="btn btn-primary" ng-click="calcularRango(cliente.username)">Seleccionar</button>
      <button class="btn btn-primary" ng-click="consultarRango()">Consultar</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      [{{maximo}},{{minimo}}]
    </div>
  </div>

</div>
